@font-face {
    font-family:"Exo";
    src: url("../fonts/Exo-Regular.otf")
}

body {
    margin: 0px;
    padding: 80px 0px 40px 0px;
    font-family: 'Exo';
    color: #424242;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: #E8F1F5;
}

.shadow {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.2);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.2);
    box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1);
}

.shadow-depth {
    -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,102,0.2);
    -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,102,0.2);
    box-shadow: 0px 3px 10px 3px rgba(0,0,102,0.1);
}

.rotate {
  transform: rotate(90deg);
}

.card-row [class*=icono-] {
  margin-right: 10px;
}

.hidden {
  display: none !important;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    box-sizing: border-box;
    font-size: 18px;
    z-index: 2;
    background-color: #FFF;
    border-bottom: 1px solid #799999;
}

.viewport-header {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 16px;
    width: 70px;
    text-align: center;
		color: #346473;
		text-decoration: none;
}

.content {
    margin: 0 auto;
    padding: 0px 20px;
    max-width: 1800px;
}

.card {
    margin: 30px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
		max-width: 480px;
}

.card-row {
	padding: 1em 0;
}

@media only screen 
and (orientation : landscape) {
    .dop {
        display: none;
    }
}

@media only screen 
and (orientation : portrait) {
    .dol {
        display: none;
    }
}